
<section class="px-1 mt-1">
    <h1 class="text-center">Audiciones</h1>
    <form [formGroup]="CalioperosForm" class="full-form" (ngSubmit)="onSubmit(CalioperosForm)" ngNativeValidate>
        
        <mat-form-field appearance="outline" class="w-100">
            <mat-label>Profes en la audición: </mat-label>
            <mat-select formControlName="profes" name="profes" multiple>
                @for (profes of profes$ | async; track profes) {
                    <mat-option [value]="profes.nombre">{{profes.nombre}}</mat-option>
                }
            </mat-select>
        </mat-form-field>
        
        
        <mat-form-field appearance="outline" class="w-100">
            <mat-label>Audiciona para el Coro: </mat-label>
            <mat-select formControlName="coro" name="coro">
                @for (item of sedes$ | async; track item) {
                    <mat-option [value]="item.nombre">{{item.nombre}}</mat-option>
                }
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-100">
            <mat-label>Nombre</mat-label>
            <input matInput placeholder="Escriba el nombre" formControlName="nombre" type="text" >
            @if (nombre?.invalid) {
                <mat-error>No escribio el nombre...</mat-error>
            }
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-100">
            <mat-label>Apellido</mat-label>
            <input matInput placeholder="Escriba el Apellido" formControlName="apellido" type="text" >
            @if (apellido?.invalid) {
                <mat-error>No escribio el Apellido...</mat-error>
            }
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-100">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Escriba el Email" formControlName="email" type="email" >
            @if (email?.invalid) {
                <mat-error>No escribio el Email...</mat-error>
            }
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-100">
            <mat-label>Celular</mat-label>
            <input matInput placeholder="Escriba el Celular" formControlName="celular" type="tel" >
            @if (celular?.invalid) {
                <mat-error>No escribio el Celular...</mat-error>
            }
        </mat-form-field>


        <mat-form-field appearance="outline" class="w-100">
            <mat-label>Fecha de audición</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="fecha_de_ingreso">
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-100">
            <mat-label>Vocalización: </mat-label>
            <mat-select formControlName="vocalizacion" name="vocalizacion">
                <mat-option value="le_falta">Le falta</mat-option>
                <mat-option value="con_lo_justo">Con lo justo</mat-option>
                <mat-option value="cumple">Cumple</mat-option>
                <mat-option value="cumple_bien">Cumple bien</mat-option>
                <mat-option value="sobrado">Sobrado</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-100">
            <mat-label>Armonización: </mat-label>
            <mat-select formControlName="armonizacion" name="armonizacion">
                <mat-option value="le_falta">le falta</mat-option>
                <mat-option value="con_lo_justo">Con lo justo</mat-option>
                <mat-option value="cumple">Cumple</mat-option>
                <mat-option value="cumple_bien">Cumple bien</mat-option>
                <mat-option value="sobrado">Sobrado</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-100">
            <mat-label>Interpretación: </mat-label>
            <mat-select formControlName="interpretacion" name="interpretacion">
                <mat-option value="le_falta">le falta</mat-option>
                <mat-option value="con_lo_justo">Con lo justo</mat-option>
                <mat-option value="cumple">Cumple</mat-option>
                <mat-option value="cumple_bien">Cumple bien</mat-option>
                <mat-option value="sobrado">Sobrado</mat-option>
            </mat-select>
        </mat-form-field>

        
        <mat-form-field appearance="outline" class="w-100">
            <mat-label>Onda Caliopera: </mat-label>
            <mat-select formControlName="onda" name="onda">
                <mat-option value="le_falta">le falta</mat-option>
                <mat-option value="con_lo_justo">Con lo justo</mat-option>
                <mat-option value="cumple">Cumple</mat-option>
                <mat-option value="cumple_bien">Cumple bien</mat-option>
                <mat-option value="sobrado">Sobrado</mat-option>
            </mat-select>
        </mat-form-field>
        
        
        <mat-form-field appearance="outline" class="w-100">
            <mat-label>Posible Cuerda</mat-label>
            <mat-select formControlName="cuerda" name="cuerda">
                <mat-option value="bajo">Bajo</mat-option>
                <mat-option value="tenor">Tenor</mat-option>
                <mat-option value="tenor">Contra Alto</mat-option>
                <mat-option value="tenor">Metzzo</mat-option>
                <mat-option value="tenor">Soprano</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-100">
            <mat-label>Subdivisión de Cuerda</mat-label>
            <mat-select formControlName="cuerdasub" name="cuerdasub">
                <mat-option value="1">1</mat-option>
                <mat-option value="2">2</mat-option>
            </mat-select>
        </mat-form-field>
    
        <mat-form-field appearance="outline" class="w-100">
            <mat-label>Evaluación final: </mat-label>
            <mat-select formControlName="evaluacion_final" name="evaluacion_final">
                <mat-option value="le_falta">Le falta</mat-option>
                <mat-option value="con_lo_justo">Con lo justo</mat-option>
                <mat-option value="cumple">Cumple</mat-option>
                <mat-option value="cumple_bien">Cumple bien</mat-option>
                <mat-option value="sobrado">Sobrado</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-100">
            <mat-label>Comentarios</mat-label>
            <textarea matInput formControlName="comentarios"></textarea>
        </mat-form-field>
        
        <mat-form-field appearance="outline" class="w-100">
            <mat-label>Puede funcionar para el Coro: </mat-label>
            <mat-select formControlName="traslado" name="traslado">
                @for (item of sedes$ | async; track item) {
                    <mat-option [value]="item.nombre">{{item.nombre}}</mat-option>
                }
            </mat-select>
        </mat-form-field>
        
        <div class="d-flex justify-content-end w-100">
            <button mat-flat-button color="primary">Guardar</button>
        </div>
    </form>
</section>
